.App {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-width: 800px;
    min-height: 100vh;
}

.main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.nav {
    width: 40%;
    height: 50px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link,
.view-game-link {
    text-decoration: none;
    color: white;
}

.nav-link-active {
    color: yellowgreen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
}

.gamesearch,
.active-games {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 40px;
}

.opponent-chessboard {
    width: auto;
    height: fit-content;
    position: relative;
    justify-self: center;
    color: black;
    font-weight: bold;
}

.blockie-holder {
    width: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    cursor: pointer;
}

.blockie-holder > span {
    margin-bottom: 10px;
}

.blurred {
    filter: blur(4px);
}

.game-players {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 560px; /* chesboardjsx static board size */
    z-index: 999;
}

.player-card-holder {
    height: 100%;
    color: black;
}

.player-card-holder > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-card-descriptior {
    color: black;
    margin-bottom: 10;
}

.meta-mask-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-container {
    background-color: black !important;
}
