.App {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
}

.main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 40%;
    height: 50px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    z-index: 999;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link-active {
    color: yellowgreen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
}

.gamesearch {
    text-align: center;
}

.gamesearch-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 40px 40px;
}

.searching-opponent,
.active-game {
    width: auto;
    height: fit-content;
    position: relative;
    justify-self: center;
}

.blockie-holder {
    width: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    cursor: pointer;
}

.short-address {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1rem;
}

.blurred {
    filter: blur(4px);
}

.game-players {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 560px; /* chesboardjsx static board size */
    padding-top: 50px;
}

.player-card-holder {
    height: 100%;
}

.player-card-holder > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-card-descriptior {
    color: black;
    margin-bottom: 10;
}

.meta-mask-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
